<h1>Lista produselor</h1>

<%= link_to "Adaugă produs", new_product_path %>

<table>
	<tr>
		<th>Acțiuni</th>
		<th>Titlu</th>
		<th>Descriere</th>
		<th>Preț</th>
	</tr>

	<% for product in @products %>
	<tr>
		<td>
			<%= link_to 'Edit', edit_product_path(product) %>
			<%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: 'Ești sigur?'} %>
		</td>
		<td><%= link_to product.title, product %></td>
		<td><%= product.short_description %></td>
		<td><%= product.price %></td>
	</tr>
	<% end %>
</table>
